[Unit]
    Description=Gather data service (data_gather)
    Requires=postgresql.service gpsd.service
    After=postgresql.service gpsd.service

[Service]
    User=%i
    ExecStart=/cart/telem_control/script/telem_control daemon --listen "http://*:3002"
    Restart=on-failure

[Install]
    WantedBy=multi-user.target
